	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/08/2018 09:24
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-001-add-file:before { content: "\f100"; }
.flaticon-002-add-file-1:before { content: "\f101"; }
.flaticon-003-folder:before { content: "\f102"; }
.flaticon-004-folder-1:before { content: "\f103"; }
.flaticon-005-folder-2:before { content: "\f104"; }
.flaticon-006-add-file-2:before { content: "\f105"; }
.flaticon-007-file:before { content: "\f106"; }
.flaticon-008-file-1:before { content: "\f107"; }
.flaticon-009-folder-3:before { content: "\f108"; }
.flaticon-010-folder-4:before { content: "\f109"; }
.flaticon-011-folder-5:before { content: "\f10a"; }
.flaticon-012-file-2:before { content: "\f10b"; }
.flaticon-013-file-3:before { content: "\f10c"; }
.flaticon-014-file-4:before { content: "\f10d"; }
.flaticon-015-folder-6:before { content: "\f10e"; }
.flaticon-016-folder-7:before { content: "\f10f"; }
.flaticon-017-folder-8:before { content: "\f110"; }
.flaticon-018-file-5:before { content: "\f111"; }
.flaticon-019-file-6:before { content: "\f112"; }
.flaticon-020-file-7:before { content: "\f113"; }
.flaticon-021-folder-9:before { content: "\f114"; }
.flaticon-022-folder-10:before { content: "\f115"; }
.flaticon-023-folder-11:before { content: "\f116"; }
.flaticon-024-file-8:before { content: "\f117"; }
.flaticon-025-file-9:before { content: "\f118"; }
.flaticon-026-file-10:before { content: "\f119"; }
.flaticon-027-folder-12:before { content: "\f11a"; }
.flaticon-028-folder-13:before { content: "\f11b"; }
.flaticon-029-folder-14:before { content: "\f11c"; }
.flaticon-030-file-11:before { content: "\f11d"; }
.flaticon-031-analytics:before { content: "\f11e"; }
.flaticon-032-analytics-1:before { content: "\f11f"; }
.flaticon-033-folder-15:before { content: "\f120"; }
.flaticon-034-folder-16:before { content: "\f121"; }
.flaticon-035-folder-17:before { content: "\f122"; }
.flaticon-036-analytics-2:before { content: "\f123"; }
.flaticon-037-file-12:before { content: "\f124"; }
.flaticon-038-file-13:before { content: "\f125"; }
.flaticon-039-folder-18:before { content: "\f126"; }
.flaticon-040-folder-19:before { content: "\f127"; }
.flaticon-041-folder-20:before { content: "\f128"; }
.flaticon-042-file-14:before { content: "\f129"; }
.flaticon-043-file-15:before { content: "\f12a"; }
.flaticon-044-file-16:before { content: "\f12b"; }
.flaticon-045-folder-21:before { content: "\f12c"; }
.flaticon-046-folder-22:before { content: "\f12d"; }
.flaticon-047-folder-23:before { content: "\f12e"; }
.flaticon-048-file-17:before { content: "\f12f"; }
.flaticon-049-file-18:before { content: "\f130"; }
.flaticon-050-file-19:before { content: "\f131"; }
.flaticon-051-folder-24:before { content: "\f132"; }
.flaticon-052-folder-25:before { content: "\f133"; }
.flaticon-053-folder-26:before { content: "\f134"; }
.flaticon-054-file-20:before { content: "\f135"; }
.flaticon-055-file-21:before { content: "\f136"; }
.flaticon-056-file-22:before { content: "\f137"; }
.flaticon-057-folder-27:before { content: "\f138"; }
.flaticon-058-folder-28:before { content: "\f139"; }
.flaticon-059-folder-29:before { content: "\f13a"; }
.flaticon-060-file-23:before { content: "\f13b"; }
.flaticon-061-file-24:before { content: "\f13c"; }
.flaticon-062-file-25:before { content: "\f13d"; }
.flaticon-063-folder-30:before { content: "\f13e"; }
.flaticon-064-folder-31:before { content: "\f13f"; }
.flaticon-065-folder-32:before { content: "\f140"; }
.flaticon-066-file-26:before { content: "\f141"; }
.flaticon-067-file-27:before { content: "\f142"; }
.flaticon-068-file-28:before { content: "\f143"; }
.flaticon-069-folder-33:before { content: "\f144"; }
.flaticon-070-folder-34:before { content: "\f145"; }
.flaticon-071-folder-35:before { content: "\f146"; }
.flaticon-072-file-29:before { content: "\f147"; }
.flaticon-073-file-30:before { content: "\f148"; }
.flaticon-074-file-31:before { content: "\f149"; }
.flaticon-075-folder-36:before { content: "\f14a"; }
.flaticon-076-folder-37:before { content: "\f14b"; }
.flaticon-077-folder-38:before { content: "\f14c"; }
.flaticon-078-file-32:before { content: "\f14d"; }
.flaticon-079-file-33:before { content: "\f14e"; }
.flaticon-080-file-34:before { content: "\f14f"; }
.flaticon-081-folder-39:before { content: "\f150"; }
.flaticon-082-folder-40:before { content: "\f151"; }
.flaticon-083-folder-41:before { content: "\f152"; }
.flaticon-084-file-35:before { content: "\f153"; }
.flaticon-085-file-36:before { content: "\f154"; }
.flaticon-086-file-37:before { content: "\f155"; }
.flaticon-087-folder-42:before { content: "\f156"; }
.flaticon-088-folder-43:before { content: "\f157"; }
.flaticon-089-folder-44:before { content: "\f158"; }
.flaticon-090-file-38:before { content: "\f159"; }
.flaticon-091-file-39:before { content: "\f15a"; }
.flaticon-092-file-40:before { content: "\f15b"; }
.flaticon-093-folder-45:before { content: "\f15c"; }
.flaticon-094-folder-46:before { content: "\f15d"; }
.flaticon-095-folder-47:before { content: "\f15e"; }
.flaticon-096-file-41:before { content: "\f15f"; }
.flaticon-097-file-42:before { content: "\f160"; }
.flaticon-098-file-43:before { content: "\f161"; }
.flaticon-099-folder-48:before { content: "\f162"; }
.flaticon-100-folder-49:before { content: "\f163"; }
.flaticon-101-folder-50:before { content: "\f164"; }
.flaticon-102-file-44:before { content: "\f165"; }
.flaticon-103-file-45:before { content: "\f166"; }
.flaticon-104-file-46:before { content: "\f167"; }
.flaticon-105-folder-51:before { content: "\f168"; }
.flaticon-106-folder-52:before { content: "\f169"; }
.flaticon-107-folder-53:before { content: "\f16a"; }
.flaticon-108-file-47:before { content: "\f16b"; }
.flaticon-109-file-48:before { content: "\f16c"; }
.flaticon-110-file-49:before { content: "\f16d"; }
.flaticon-111-folder-54:before { content: "\f16e"; }
.flaticon-112-folder-55:before { content: "\f16f"; }
.flaticon-113-folder-56:before { content: "\f170"; }
.flaticon-114-file-50:before { content: "\f171"; }
.flaticon-115-file-51:before { content: "\f172"; }
.flaticon-116-file-52:before { content: "\f173"; }
.flaticon-117-folder-57:before { content: "\f174"; }
.flaticon-118-folder-58:before { content: "\f175"; }
.flaticon-119-folder-59:before { content: "\f176"; }
.flaticon-120-file-53:before { content: "\f177"; }
.flaticon-121-folder-60:before { content: "\f178"; }
.flaticon-122-file-54:before { content: "\f179"; }
.flaticon-123-file-55:before { content: "\f17a"; }
.flaticon-124-folder-61:before { content: "\f17b"; }
.flaticon-125-folder-62:before { content: "\f17c"; }
.flaticon-126-folder-63:before { content: "\f17d"; }
.flaticon-127-file-56:before { content: "\f17e"; }
.flaticon-128-file-57:before { content: "\f17f"; }
.flaticon-129-file-58:before { content: "\f180"; }
.flaticon-130-folder-64:before { content: "\f181"; }
.flaticon-131-folder-65:before { content: "\f182"; }
.flaticon-132-folder-66:before { content: "\f183"; }
.flaticon-133-file-59:before { content: "\f184"; }
.flaticon-134-file-60:before { content: "\f185"; }
.flaticon-135-file-61:before { content: "\f186"; }
.flaticon-136-folder-67:before { content: "\f187"; }
.flaticon-137-folder-68:before { content: "\f188"; }
.flaticon-138-folder-69:before { content: "\f189"; }
.flaticon-139-file-62:before { content: "\f18a"; }
.flaticon-140-file-63:before { content: "\f18b"; }
.flaticon-141-file-64:before { content: "\f18c"; }
.flaticon-142-folder-70:before { content: "\f18d"; }
.flaticon-143-folder-71:before { content: "\f18e"; }
.flaticon-144-folder-72:before { content: "\f18f"; }
.flaticon-145-file-65:before { content: "\f190"; }
.flaticon-146-file-66:before { content: "\f191"; }
.flaticon-147-file-67:before { content: "\f192"; }
.flaticon-148-folder-73:before { content: "\f193"; }
.flaticon-149-folder-74:before { content: "\f194"; }
.flaticon-150-folder-75:before { content: "\f195"; }
.flaticon-151-file-68:before { content: "\f196"; }
.flaticon-152-file-69:before { content: "\f197"; }
.flaticon-153-file-70:before { content: "\f198"; }
.flaticon-154-folder-76:before { content: "\f199"; }
.flaticon-155-folder-77:before { content: "\f19a"; }
.flaticon-156-folder-78:before { content: "\f19b"; }
.flaticon-157-file-71:before { content: "\f19c"; }
.flaticon-158-file-72:before { content: "\f19d"; }
.flaticon-159-file-73:before { content: "\f19e"; }
.flaticon-160-folder-79:before { content: "\f19f"; }
.flaticon-161-folder-80:before { content: "\f1a0"; }
.flaticon-162-folder-81:before { content: "\f1a1"; }
.flaticon-163-file-74:before { content: "\f1a2"; }
.flaticon-164-file-75:before { content: "\f1a3"; }
.flaticon-165-file-76:before { content: "\f1a4"; }
.flaticon-166-folder-82:before { content: "\f1a5"; }
.flaticon-167-folder-83:before { content: "\f1a6"; }
.flaticon-168-file-77:before { content: "\f1a7"; }
.flaticon-169-file-78:before { content: "\f1a8"; }
.flaticon-170-file-79:before { content: "\f1a9"; }
.flaticon-171-folder-84:before { content: "\f1aa"; }
.flaticon-172-folder-85:before { content: "\f1ab"; }
.flaticon-173-folder-86:before { content: "\f1ac"; }
.flaticon-174-file-80:before { content: "\f1ad"; }
.flaticon-175-file-81:before { content: "\f1ae"; }
.flaticon-176-file-82:before { content: "\f1af"; }
.flaticon-177-folder-87:before { content: "\f1b0"; }
.flaticon-178-folder-88:before { content: "\f1b1"; }
.flaticon-179-folder-89:before { content: "\f1b2"; }
.flaticon-180-file-83:before { content: "\f1b3"; }
.flaticon-181-file-84:before { content: "\f1b4"; }
.flaticon-182-file-85:before { content: "\f1b5"; }
.flaticon-183-folder-90:before { content: "\f1b6"; }
.flaticon-184-folder-91:before { content: "\f1b7"; }
.flaticon-185-folder-92:before { content: "\f1b8"; }
.flaticon-186-file-86:before { content: "\f1b9"; }
.flaticon-187-file-87:before { content: "\f1ba"; }
.flaticon-188-file-88:before { content: "\f1bb"; }
.flaticon-189-folder-93:before { content: "\f1bc"; }
.flaticon-190-folder-94:before { content: "\f1bd"; }
.flaticon-191-folder-95:before { content: "\f1be"; }
.flaticon-192-file-89:before { content: "\f1bf"; }
.flaticon-193-file-90:before { content: "\f1c0"; }
.flaticon-194-file-91:before { content: "\f1c1"; }
.flaticon-195-folder-96:before { content: "\f1c2"; }
.flaticon-196-folder-97:before { content: "\f1c3"; }
.flaticon-197-folder-98:before { content: "\f1c4"; }
.flaticon-198-file-92:before { content: "\f1c5"; }
.flaticon-199-file-93:before { content: "\f1c6"; }
.flaticon-200-file-94:before { content: "\f1c7"; }
.flaticon-201-folder-99:before { content: "\f1c8"; }
.flaticon-202-folder-100:before { content: "\f1c9"; }
.flaticon-203-folder-101:before { content: "\f1ca"; }
.flaticon-204-file-95:before { content: "\f1cb"; }
.flaticon-205-file-96:before { content: "\f1cc"; }
.flaticon-206-file-97:before { content: "\f1cd"; }
.flaticon-207-folder-102:before { content: "\f1ce"; }
.flaticon-208-folder-103:before { content: "\f1cf"; }
.flaticon-209-folder-104:before { content: "\f1d0"; }
.flaticon-210-file-98:before { content: "\f1d1"; }
.flaticon-211-file-99:before { content: "\f1d2"; }
.flaticon-212-file-100:before { content: "\f1d3"; }
.flaticon-213-folder-105:before { content: "\f1d4"; }
.flaticon-214-folder-106:before { content: "\f1d5"; }
.flaticon-215-folder-107:before { content: "\f1d6"; }
.flaticon-216-file-101:before { content: "\f1d7"; }
.flaticon-217-file-102:before { content: "\f1d8"; }
.flaticon-218-file-103:before { content: "\f1d9"; }
.flaticon-219-folder-108:before { content: "\f1da"; }
.flaticon-220-folder-109:before { content: "\f1db"; }
.flaticon-221-folder-110:before { content: "\f1dc"; }
.flaticon-222-file-104:before { content: "\f1dd"; }
.flaticon-223-remove:before { content: "\f1de"; }
.flaticon-224-remove-1:before { content: "\f1df"; }
.flaticon-225-folder-111:before { content: "\f1e0"; }
.flaticon-226-folder-112:before { content: "\f1e1"; }
.flaticon-227-folder-113:before { content: "\f1e2"; }
.flaticon-228-file-105:before { content: "\f1e3"; }
.flaticon-229-file-106:before { content: "\f1e4"; }
.flaticon-230-file-107:before { content: "\f1e5"; }
.flaticon-231-folder-114:before { content: "\f1e6"; }
.flaticon-232-folder-115:before { content: "\f1e7"; }
.flaticon-233-folder-116:before { content: "\f1e8"; }
.flaticon-234-file-108:before { content: "\f1e9"; }
.flaticon-235-file-109:before { content: "\f1ea"; }
.flaticon-236-file-110:before { content: "\f1eb"; }
.flaticon-237-folder-117:before { content: "\f1ec"; }
.flaticon-238-folder-118:before { content: "\f1ed"; }
.flaticon-239-folder-119:before { content: "\f1ee"; }
.flaticon-240-file-111:before { content: "\f1ef"; }
.flaticon-241-file-112:before { content: "\f1f0"; }
.flaticon-242-file-113:before { content: "\f1f1"; }
.flaticon-243-folder-120:before { content: "\f1f2"; }
.flaticon-244-folder-121:before { content: "\f1f3"; }
.flaticon-245-folder-122:before { content: "\f1f4"; }
.flaticon-246-file-114:before { content: "\f1f5"; }
.flaticon-247-file-115:before { content: "\f1f6"; }
.flaticon-248-file-116:before { content: "\f1f7"; }
.flaticon-249-folder-123:before { content: "\f1f8"; }
.flaticon-250-folder-124:before { content: "\f1f9"; }
.flaticon-251-folder-125:before { content: "\f1fa"; }
.flaticon-252-file-117:before { content: "\f1fb"; }
.flaticon-253-file-118:before { content: "\f1fc"; }
.flaticon-254-file-119:before { content: "\f1fd"; }
.flaticon-255-folder-126:before { content: "\f1fe"; }
.flaticon-256-folder-127:before { content: "\f1ff"; }
.flaticon-257-folder-128:before { content: "\f200"; }
.flaticon-258-file-120:before { content: "\f201"; }
.flaticon-259-file-121:before { content: "\f202"; }
.flaticon-260-file-122:before { content: "\f203"; }
.flaticon-261-folder-129:before { content: "\f204"; }
.flaticon-262-folder-130:before { content: "\f205"; }
.flaticon-263-folder-131:before { content: "\f206"; }
.flaticon-264-file-123:before { content: "\f207"; }
.flaticon-265-file-124:before { content: "\f208"; }
.flaticon-266-file-125:before { content: "\f209"; }
.flaticon-267-folder-132:before { content: "\f20a"; }
.flaticon-268-folder-133:before { content: "\f20b"; }
.flaticon-269-folder-134:before { content: "\f20c"; }
.flaticon-270-file-126:before { content: "\f20d"; }
.flaticon-271-file-127:before { content: "\f20e"; }
.flaticon-272-file-128:before { content: "\f20f"; }
.flaticon-273-folder-135:before { content: "\f210"; }
.flaticon-274-folder-136:before { content: "\f211"; }
.flaticon-275-folder-137:before { content: "\f212"; }
.flaticon-276-file-129:before { content: "\f213"; }
.flaticon-277-file-130:before { content: "\f214"; }
.flaticon-278-file-131:before { content: "\f215"; }
.flaticon-279-folder-138:before { content: "\f216"; }
.flaticon-280-folder-139:before { content: "\f217"; }
.flaticon-281-folder-140:before { content: "\f218"; }
.flaticon-282-file-132:before { content: "\f219"; }
.flaticon-283-file-133:before { content: "\f21a"; }
.flaticon-284-file-134:before { content: "\f21b"; }
.flaticon-285-folder-141:before { content: "\f21c"; }
.flaticon-286-folder-142:before { content: "\f21d"; }
.flaticon-287-folder-143:before { content: "\f21e"; }
.flaticon-288-file-135:before { content: "\f21f"; }
.flaticon-289-file-136:before { content: "\f220"; }
.flaticon-290-file-137:before { content: "\f221"; }
.flaticon-291-folder-144:before { content: "\f222"; }
.flaticon-292-folder-145:before { content: "\f223"; }
.flaticon-293-folder-146:before { content: "\f224"; }
.flaticon-294-file-138:before { content: "\f225"; }
.flaticon-295-file-139:before { content: "\f226"; }
.flaticon-296-file-140:before { content: "\f227"; }
.flaticon-297-folder-147:before { content: "\f228"; }
.flaticon-298-folder-148:before { content: "\f229"; }
.flaticon-299-folder-149:before { content: "\f22a"; }
.flaticon-300-file-141:before { content: "\f22b"; }
.flaticon-301-file-142:before { content: "\f22c"; }
.flaticon-302-file-143:before { content: "\f22d"; }
.flaticon-303-folder-150:before { content: "\f22e"; }
.flaticon-304-folder-151:before { content: "\f22f"; }
.flaticon-305-folder-152:before { content: "\f230"; }
.flaticon-306-file-144:before { content: "\f231"; }
.flaticon-307-video-file:before { content: "\f232"; }
.flaticon-308-video-file-1:before { content: "\f233"; }
.flaticon-309-folder-153:before { content: "\f234"; }
.flaticon-310-folder-154:before { content: "\f235"; }
.flaticon-311-folder-155:before { content: "\f236"; }
.flaticon-312-video-file-2:before { content: "\f237"; }
.flaticon-313-file-145:before { content: "\f238"; }
.flaticon-314-file-146:before { content: "\f239"; }
.flaticon-315-folder-156:before { content: "\f23a"; }
.flaticon-316-folder-157:before { content: "\f23b"; }
.flaticon-317-folder-158:before { content: "\f23c"; }
.flaticon-318-file-147:before { content: "\f23d"; }
.flaticon-319-file-148:before { content: "\f23e"; }
.flaticon-320-file-149:before { content: "\f23f"; }
.flaticon-321-folder-159:before { content: "\f240"; }
.flaticon-322-folder-160:before { content: "\f241"; }
.flaticon-323-folder-161:before { content: "\f242"; }
.flaticon-324-file-150:before { content: "\f243"; }
.flaticon-325-file-151:before { content: "\f244"; }
.flaticon-326-file-152:before { content: "\f245"; }
.flaticon-327-folder-162:before { content: "\f246"; }
.flaticon-328-folder-163:before { content: "\f247"; }
.flaticon-329-folder-164:before { content: "\f248"; }
.flaticon-330-file-153:before { content: "\f249"; }
